<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.finalPABDConnectionString"
            connectionString="Data Source=DESKTOP-EJH2D6F\ARYA;Initial Catalog=finalPABD;User ID=sa;Password=arya@cool123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>